<a href="/">Home</a>
<h2>Sign Up Page</h2>

<form action="/users/signup" method="POST">
    {{!-- {{#if missatgeError}}
        <div class="alert alert-danger" role="alert">
            {{missatgeError}}
        </div>
    {{/if}} --}}
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
    {{!-- <a class="btn btn-link" href="/users/login">Ja estic registrada</a> --}}
</form>